<div id="comments" class="post-bottom">
  <div class="comment-form">
    {% if current_user.can(Permission.COMMENT) %}
      {{ wtf.quick_form(form) }}
    {% endif %}
  </div>
  <div class="comments-head">
    <p class="comments-head-text">评论&ensp;
      {{ post.comments.count() }}</p>
  </div>
  <ul class="comments-content">
    {% for comment in comments %}
      <li class="comment">
        <div class="comment-head">
          <div class="comment-head-left">
            <img class="auth-img"
              src="{{ url_for('static', filename='avatar/'+comment.author.s_avatar) }}">
          </div>
          <div class="comment-head-right">
              <p class="comment-head-text">{% if comment.author.name %}{{ comment.author.name }}
                 {% else %}{{ comment.author.username }}
                 {% endif %}
              </p>
              <p class="comment-head-text">{{ moment(comment.timestamp).format('LL') }}</p>
          </div>
        </div>
        <div class="comment-body">
          {% if comment.body_html %}
            {{ comment.body_html | safe }}
          {% else %}
            {{ comment.body }}
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% if pagination %}
  <div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.post', fragment="#comments",
       id=post.id) }}
  </div>
{% endif %}

