<ul class="posts">
    {% for post in posts %}
    <li class="post-list">
        
        <div class="post-list-content">
          <div class="post-list-left">
          <!-- 文章标题-->
            <div class="post-list-title">
              <a class="post-list-title" href="{{ url_for('main.post', id=post.id) }}">{{ post.title }}</a>
            </div>
            <!-- 文章简介-->
            <div class="post-list-abstract">
              {{ post.abstract }}
            </div>
          </div>
          <div class="post-list-mid">
                <img class="auth-img"
                src="{{ url_for('static', filename='avatar/'+post.author.s_avatar) }}">
          </div>
          <div class="post-list-right">
              <a class="post-list-auth" href="{{ url_for('main.user', username=post.author.username) }}">
                {% if post.author.name %}{{  post.author.name }}{% else %}{{ post.author.username }}{% endif %}
              </a>
              <br>
              <a class="post-list-right-link" href="{{ url_for('main.follow', username=post.author.username) }}">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true">
                      <span class="post-list-right-text">关注他</span></span>
              </a>
          </div>
        </div>
        <!-- 文章尾部，包括阅读数、评论数、点赞数 -->
        <div class="post-list-footer">
          <a class="post-list-footer-link" href="{{ url_for('main.post', id=post.id) }}">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true">
              <span class="post-list-footer-text">{{ post.views }}</span></span>
          </a>
          <a class="post-list-footer-link" href="{{ url_for('main.post', id=post.id) }}#comments">
            <span style="margin-left: 30px;" class="glyphicon glyphicon-envelope" aria-hidden="true">
              <span class="post-list-footer-text">{{ post.comments.count() }}</span></span>
          </a>
          <a class="post-list-footer-link" href="#">
            <span style="margin-left: 30px;" class="glyphicon glyphicon-heart" aria-hidden="true">
              <span class="post-list-footer-text">{{ post.likes }}</span></span>
          </a>
          <div class="post-list-date">发表于 {{ moment(post.ctime).format('L') }}</div>
        </div>
    </li>
    {% endfor %}
  </ul>