{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}蜜蜂博客 -{% if user.name %}{{ user.name }}{% else %}{{ user.username }}{% endif %}-{% endblock %}

{% block page_content %}
{% include '_user.html' %}
<div class="user-body">
<ul class="nav nav-tabs" style="width: 68%;">
    <li role="presentation"><a href="{{ url_for('main.user', username=user.username) }}">
        文章 <span class="badge">{{ user.posts.count() }}</span>
    </a></li>
    <li role="presentation"><a href="{{ url_for('main.user_followed_by', username=user.username) }}">
        关注的人 <span class="badge">{{ user.followed.count() }}</span></a></li>
    <li role="presentation" class="active"><a href="{{ url_for('main.user_followers', username=user.username) }}">
      粉丝 <span class="badge">{{ user.follower.count() }}</span></a></li>
  </ul>
</div>
{% include '_follow.html' %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, endpoint, username = user.username) }}
</div>
{% endblock %}
